@media screen and (min-width: 481px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #eeeeee;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    z-index: 20;
  }

  .logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: #fff;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  .nav-links li{
    list-style: none;
    margin-right: 10px;
  }

  .burger{
    display: none;
  }

  .burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  main{
    width: 100%;
    height: 100vh;
    align-items: center;
  }
  main h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 100vh;
    font-family: cursive;
  }
  .text span{
    margin: 2px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
  }
  .text span.fade{
    opacity: 1;
    transform: translateY(0px);
  }
  main img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    right: 30px;
    bottom: 50px;
  }
  main h2{
    text-transform: capitalize;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-family: cursive;
  }


  .about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: black;
  }
  .about img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  .about-me{
    width: 600px;
    padding: 30px;
    align-items: center;
    line-height: 60px;
    opacity: 0;
    transform: translateY(100px);
    transition: 2s all ease-in;
    background-color: #eeeeee;
  }
  .intro-appear{
    opacity: 1;
    transform: translateY(0px);
  }
  .about-me h2{
    font-size: 60px;
    padding-bottom: 80px;
  }
  .about-me p{
    font-size: 26px;
    font-family: 'Noto Serif JP', serif;
  }
  .last{
    color: #fff;
    font-size: 20px;
    text-align: left;
  }

  .works{
    width: 100%;
    /* height: 200vh; */
    align-items: center;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
  }
  .works h2{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
  }
  .worksf{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  .works img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #000;
  }
  .works img:hover{
    opacity: .6;
    transform: scale(1.2);
    transition: all .5s;
  }
  .work p{
    margin-top: 20px;
    text-align: center;
  }
  .work a{
    color: blue;
  }

  .form{
    height: 50vh;
    text-align: center;
  }
  .form h2{
    margin-top: 100px;
  }

}

@media screen and (max-width: 1200px) {
  .about{
    height: 200vh;
  }
}


@media screen and (max-width: 768px){
  .nav-links{
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }

  .about{
    height: 200vh;
  }

  .worksf{
    flex-direction: column;
    align-items: center;
  }
  .work{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-color: #fff;
    width: 100%;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    position: fixed;
  }

  .logo{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    line-height: 10vh;
  }
  .nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  .nav-links li{
    list-style: none;
    margin-right: 10px;
  }
  .nav-links{
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
    margin-top: 100px;
  }
  .nav-active{
    transform: translateX(0%);
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  .burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  main{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(img/trank.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
  }
  main h1{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    line-height: 80vh;
  }
  .text span{
    margin: 2px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
  }
  .text span.fade{
    opacity: 1;
    transform: translateY(0px);
  }
  main img{
    display: none;
  }
  main h2{
    text-transform: capitalize;
    font-size: 26px;
    text-align: center;
  }
  .about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  .about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .about-me{
    padding: 10px;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: 2s all ease-in;
  }
  .intro-appear{
    opacity: 1;
    transform: translateY(0px);
  }
  .about-me h2{
    font-size: 30px;
  }
  .about-me p{
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
  }
  .last{
    font-size: 20px;
    text-align: left;
  }

  .works{
    align-items: center;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  .works h2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
  }
  .worksf{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .work{
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .work img{
    width: 80%;
    margin: 20px auto;
    object-fit: cover;
    border: 1px solid #000;
  }

  .form{
    height: 30vh;
    text-align: center;
  }
  .form h2{
    margin-top: 100px;
  }
}